html{
    scroll-behavior: smooth;
}

.skip-nav {
    background-color: var(--accent-green);
    padding: 10px;
    position: absolute;
    transform: translateY(-130%);
    color: white;
}

.skip-nav:focus {
    transform: translateY(0);
}