@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

@font-face {font-family: "Druk Wide Bold"; src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot"); src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff") format("woff"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold") format("svg"); }

:root{
    --main-green: #606c38;
    --accent-green: #283618;
    --main-blue: #218197;
    --accent-blue: #165664;
    --main-white: #fefae0;
    --main-size: 16px;
    --main-font: "Druk Wide Bold", sans-serif;
    --secondary-font: arial, helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: var(--main-font);
    background-color: #EBEBEB;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

button{
    font-size: 0;
}

.hidden{
    display: none;
}

.headline{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--accent-green);
}
